<div class="container border border-2 border-dark p-4">
  <div class="row gx-3">
    <div class="col-5 border border-2 border-dark text-center p-5">
      <app-display-countdown [countdown]="timerCount"></app-display-countdown>
    </div>
    <div class="col-7 border border-2 border-dark p-5">
      <app-timer-control
        (timerValue)="onTimeStartStop($event)"
        [stopCountInterval]="intervalPauseTimeArr"
      ></app-timer-control>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-5 logger">
      <app-timestamp-logger [logDate]="timeTracker"></app-timestamp-logger>
    </div>
    <div class="col-7">
      <app-click-counter [clickCounter]="countTracker"></app-click-counter>
    </div>
  </div>
</div>
