<form class="w-50 float-end">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <button type="button" class="float-end btn btn-dark mx-2" (click)="changeToGridView(false)">List view</button>
        <button type="button" class="float-end btn btn-dark mx-2" (click)="changeToGridView(true)">Grid view</button>
      </div>
      <div class="col-4 p-0">
        <select
          class="form-control"
          name="price-select"
          (change)="filterByPrice()"
          id="price-select"
          placeholder="Filter by Price"
          #selectedPrice
        >
          <option value="select" value="select-price">Select Price</option>
          <option *ngFor="let price of priceList" [value]="price.value">
            {{ price.min | currency }} - {{ price.max | currency }}
          </option>
        </select>
      </div>
    </div>
  </div>
</form>
