<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="w-lg-50 float-end">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <button
                type="button"
                [ngClass]="{ 'view-active': !productsList?.gridView }"
                class="float-end btn btn-dark mx-2"
                (click)="changeToGridView(false)"
              >
                List view
              </button>
              <button
                type="button"
                [ngClass]="{ 'view-active': productsList?.gridView }"
                class="float-end btn btn-dark mx-2"
                (click)="changeToGridView(true)"
              >
                Grid view
              </button>
            </div>
            <div class="col-4 p-0">
              <select
                class="form-control"
                name="price-select"
                (change)="filterByPrice()"
                id="price-select"
                placeholder="Filter by Price"
                #selectedPrice
              >
                <option value="select" value="select-price">Select Price</option>
                <option *ngFor="let price of priceList" [value]="price.value">
                  {{ price.min | currency }} - {{ price.max | currency }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="productsList?.gridView; else listViewTemplate">
        <product-grid-view [products]="productsList?.products"></product-grid-view>
      </div>
      <ng-template #listViewTemplate>
        <product-list-view [products]="productsList?.products"></product-list-view>
      </ng-template>
    </div>
  </div>
</div>
