<div class="container p-0">
  <div class="row">
    <div *ngFor="let product of products" class="col-6 mt-4 bg-light">
      <div class="p-2 float-start w-25">
        <img [src]="product.thumbNail" [alt]="product.title" class="w-100" />
      </div>
      <div class="w-50 float-start">
        <h5>{{ product.title | uppercase }}</h5>
        <h6>{{ product.price | currency }}</h6>
      </div>
      <div class="w-25 float-end">
        <form class="mt-4 text-end">
          <button type="button" class="btn btn-primary my-2">Add To Cart</button>
          <button type="button" class="btn btn-danger">Buy Now</button>
        </form>
      </div>
    </div>
  </div>
</div>
